.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    
}
.forms {
    width: 50%;
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column !important;
    padding: 20px;
}
input {
    padding: 12px;
}
button {
    padding: 12px;
    color: white;
    background-color: darkblue;
}